In [2]:
import pandas as pd
import numpy as np

players_correct_ids = pd.read_csv('stats/player_table.csv')
players_final = pd.read_csv('stats/Player_Final.csv')
end_of_seasons = pd.read_csv('stats/end_of_season_teams.csv')

In [3]:
# fix player ids in players_final
player_ids = {}
for i, player in enumerate(players_correct_ids['player']):
    player_ids[player] = i + 1

players_final['new_player_id'] = players_final['player'].map(player_ids).fillna(0).astype('Int64')
players_final

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,stl_per_game,blk,blk_per_game,tov,tov_per_game,pf,pf_per_game,pts,pts_per_game,new_player_id
0,30458,2023,5025,A.J. Green,SG,23.0,1,NBA,MIL,28,...,0.2,0.0,0.0,8.0,0.3,26,0.9,127,4.5,1042
1,30459,2023,5026,A.J. Lawson,SG,22.0,1,NBA,TOT,13,...,0.1,0.0,0.0,1.0,0.1,8,0.6,34,2.6,1043
2,30460,2023,5026,A.J. Lawson,SG,22.0,1,NBA,MIN,1,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,2.0,1043
3,30461,2023,5026,A.J. Lawson,SG,22.0,1,NBA,DAL,12,...,0.1,0.0,0.0,1.0,0.1,7,0.6,32,2.7,1043
4,30462,2023,4219,Aaron Gordon,PF,27.0,9,NBA,DEN,51,...,0.8,39.0,0.8,81.0,1.6,98,1.9,865,17.0,302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31079,200,1947,157,Walt Miller,F,31.0,1,BAA,PIT,12,...,NaN,NaN,NaN,NaN,NaN,16,1.3,23,1.9,0
31080,201,1947,158,Warren Fenley,F,24.0,1,BAA,BOS,33,...,NaN,NaN,NaN,NaN,NaN,59,1.8,85,2.6,0
31081,202,1947,159,Wilbert Kautz,G-F,31.0,1,BAA,CHS,50,...,NaN,NaN,NaN,NaN,NaN,114,2.3,253,5.1,0
31082,203,1947,160,Woody Grimshaw,G,27.0,1,BAA,PRO,21,...,NaN,NaN,NaN,NaN,NaN,25,1.2,61,2.9,0
31083,204,1947,161,Wyndol Gray,G-F,24.0,1,BAA,BOS,55,...,NaN,NaN,NaN,NaN,NaN,105,1.9,350,6.4,0

In [4]:
# fix season id in players final  
for i in range(len(end_of_seasons)):
    seas_id = players_final.loc[players_final['seas_id'] == end_of_seasons['seas_id'][i]]
    player_id = players_final.loc[players_final['seas_id'] == end_of_seasons['seas_id'][i], 'new_player_id']
    
    end_of_seasons.loc[i, 'seas_id'] = seas_id['season'].values[0]
    end_of_seasons.loc[i, 'player_id'] = player_id.values[0]

end_of_seasons

             type  seas_id  player_id
0     All-Defense     2022        261
1     All-Defense     2022        629
2     All-Defense     2022        315
3     All-Defense     2022        641
4     All-Defense     2022        271
...           ...      ...        ...
2115      All-BAA     1947          0
2116      All-BAA     1947          0
2117      All-BAA     1947          0
2118      All-BAA     1947          0
2119      All-BAA     1947          0

[2120 rows x 3 columns]

In [5]:
# create new end of seasons table with correct ids
years = [2017, 2018, 2019, 2020, 2021, 2022, 2023]
end_of_seasons = end_of_seasons.loc[end_of_seasons['seas_id'].isin(years)]

for i, year in enumerate(end_of_seasons['seas_id']):
    if year == 2023:
        end_of_seasons.loc[i, 'seas_id'] = 7
    if year == 2022:
        end_of_seasons.loc[i, 'seas_id'] = 6
    if year == 2021:
        end_of_seasons.loc[i, 'seas_id'] = 5
    if year == 2020:
        end_of_seasons.loc[i, 'seas_id'] = 4
    if year == 2019:
        end_of_seasons.loc[i, 'seas_id'] = 3
    if year == 2018:
        end_of_seasons.loc[i, 'seas_id'] = 2
    if year == 2017:
        end_of_seasons.loc[i, 'seas_id'] = 1
end_of_seasons

/Users/mayawebb/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

            type  seas_id  player_id
0    All-Defense        6        261
1    All-Defense        6        629
2    All-Defense        6        315
3    All-Defense        6        641
4    All-Defense        6        271
..           ...      ...        ...
205   All-Rookie        1        414
206   All-Rookie        1        429
207   All-Rookie        1        430
208   All-Rookie        1        443
209   All-Rookie        1        450

[210 rows x 3 columns]

In [29]:
end_of_seasons.to_csv('end_of_seasons_final.csv', index=False)

In [7]:
players_final_final = pd.read_csv('stats/player_final_final.csv')
players_final_final['new_player_id'] = players_final_final['player'].map(player_ids).fillna(0).astype('Int64')

years = [2017, 2018, 2019, 2020, 2021, 2022, 2023]
players_final_final = players_final_final.loc[players_final_final['season'].isin(years)]

for i, year in enumerate(players_final_final['season']):
    if year == 2023:
        players_final_final.loc[i, 'seas_id'] = 7
    if year == 2022:
        players_final_final.loc[i, 'seas_id'] = 6
    if year == 2021:
        players_final_final.loc[i, 'seas_id'] = 5
    if year == 2020:
        players_final_final.loc[i, 'seas_id'] = 4
    if year == 2019:
        players_final_final.loc[i, 'seas_id'] = 3
    if year == 2018:
        players_final_final.loc[i, 'seas_id'] = 2
    if year == 2017:
        players_final_final.loc[i, 'seas_id'] = 1
        
players_final_final = players_final_final[['seas_id', 'new_player_id', 'tm', 'player', 'pos', 'age', 'experience', 'g', 'mp', 'mp_per_game', 'fg', 'fg_per_game', 'fga', 'fga_per_game', 'fg_percent', 'x3p', 'x3p_per_game', 'x3pa', 'x3pa_per_game', 'x3p_percent', 'x2p', 'x2p_per_game', 'x2pa', 'x2pa_per_game', 'x2p_percent', 'e_fg_percent', 'ft', 'ft_per_game', 'fta', 'fta_per_game', 'ft_percent', 'orb', 'orb_per_game', 'drb', 'drb_per_game', 'trb', 'trb_per_game', 'ast', 'ast_per_game', 'stl', 'stl_per_game', 'blk', 'blk_per_game', 'tov', 'tov_per_game', 'pf', 'pf_per_game', 'pts', 'pts_per_game']]
players_final_final

,seas_id,new_player_id,tm,player,pos,age,experience,g,mp,mp_per_game,...,stl,stl_per_game,blk,blk_per_game,tov,tov_per_game,pf,pf_per_game,pts,pts_per_game
0,7,1042,MIL,A.J. Green,SG,23,1,28,267,9.5,...,6,0.2,0,0.0,8,0.3,26,0.9,127,4.5
1,7,1043,TOT,A.J. Lawson,SG,22,1,13,63,4.8,...,1,0.1,0,0.0,1,0.1,8,0.6,34,2.6
2,7,1043,MIN,A.J. Lawson,SG,22,1,1,2,2.0,...,0,0.0,0,0.0,0,0.0,1,1.0,2,2.0
3,7,1043,DAL,A.J. Lawson,SG,22,1,12,61,5.1,...,1,0.1,0,0.0,1,0.1,7,0.6,32,2.7
4,7,302,DEN,Aaron Gordon,PF,27,9,51,1533,30.1,...,40,0.8,39,0.8,81,1.6,98,1.9,865,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,1,450,BRK,Yogi Ferrell,PG,23,1,10,151,15.1,...,2,0.2,2,0.2,14,1.4,11,1.1,54,5.4
4560,1,450,DAL,Yogi Ferrell,PG,23,1,36,1046,29.1,...,40,1.1,7,0.2,56,1.6,79,2.2,408,11.3
4561,1,320,MIN,Zach LaVine,SG,21,3,47,1749,37.2,...,41,0.9,10,0.2,85,1.8,104,2.2,889,18.9
4562,1,13,MEM,Zach Randolph,PF,35,16,73,1786,24.5,...,38,0.5,10,0.1,99,1.4,136,1.9,1028,14.1
4563,1,22,GSW,Zaza Pachulia,C,32,14,70,1268,18.1,...,59,0.8,33,0.5,87,1.2,166,2.4,426,6.1

In [28]:
players_final_final.to_csv('players_final_final.csv', index=False)

In [8]:
player_info_session = pd.read_csv('stats/player_season_info_final.csv')
player_info_session['new_player_id'] = player_info_session['player'].map(player_ids).fillna(0).astype('Int64')

years = [2017, 2018, 2019, 2020, 2021, 2022, 2023]
player_info_session = player_info_session.loc[player_info_session['season'].isin(years)]

for i, year in enumerate(player_info_session['season']):
    if year == 2023:
        player_info_session.loc[i, 'seas_id'] = 7
    if year == 2022:
        player_info_session.loc[i, 'seas_id'] = 6
    if year == 2021:
        player_info_session.loc[i, 'seas_id'] = 5
    if year == 2020:
        player_info_session.loc[i, 'seas_id'] = 4
    if year == 2019:
        player_info_session.loc[i, 'seas_id'] = 3
    if year == 2018:
        player_info_session.loc[i, 'seas_id'] = 2
    if year == 2017:
        player_info_session.loc[i, 'seas_id'] = 1
        
        
player_info_session['seas_id'] = player_info_session['seas_id'].astype('Int64')
player_info_session = player_info_session[['seas_id', 'new_player_id', 'tm', 'player', 'pos', 'age', 'lg', 'experience']]
player_info_session

      seas_id  new_player_id   tm        player  pos   age   lg  experience
21          5           1042  MIL    A.J. Green   SG  23.0  NBA         1.0
25          7            478  DAL  A.J. Hammons    C  24.0  NBA         1.0
26          2           1043  TOT   A.J. Lawson   SG  22.0  NBA         1.0
27          5           1043  MIN   A.J. Lawson   SG  22.0  NBA         1.0
28          6           1043  DAL   A.J. Lawson   SG  22.0  NBA         1.0
...       ...            ...  ...           ...  ...   ...  ...         ...
4559        4           <NA>  NaN           NaN  NaN   NaN  NaN         NaN
4560        5           <NA>  NaN           NaN  NaN   NaN  NaN         NaN
4561        7           <NA>  NaN           NaN  NaN   NaN  NaN         NaN
4562        4           <NA>  NaN           NaN  NaN   NaN  NaN         NaN
4563        6           <NA>  NaN           NaN  NaN   NaN  NaN         NaN

[8543 rows x 8 columns]

In [27]:
player_info_session.to_csv('player_info_session_final.csv', index=False)

In [24]:
all_star = pd.read_csv('stats/All-Star Selections.csv')
all_star['player_id'] = all_star['player'].map(player_ids).fillna(0).astype('Int64')

for i, year in enumerate(all_star['season']):
    if year == 2023:
        all_star.loc[i, 'seas_id'] = 7
    if year == 2022:
        all_star.loc[i, 'seas_id'] = 6
    if year == 2021:
        all_star.loc[i, 'seas_id'] = 5
    if year == 2020:
        all_star.loc[i, 'seas_id'] = 4
    if year == 2019:
        all_star.loc[i, 'seas_id'] = 3
    if year == 2018:
        all_star.loc[i, 'seas_id'] = 2
    if year == 2017:
        all_star.loc[i, 'seas_id'] = 1

all_star['seas_id'] = all_star['seas_id'].astype('Int64')
all_star = all_star[['player_id', 'seas_id', 'player', 'team', 'replaced']]
all_star

     player_id  seas_id             player         team  replaced
0          851        6        LaMelo Ball  Team Durant     False
1          359        6       Devin Booker  Team Durant     False
2           77        6       Kevin Durant  Team Durant     False
3          431        6        Joel Embiid  Team Durant     False
4          271        6        Rudy Gobert  Team Durant     False
..         ...      ...                ...          ...       ...
154        156        1     Gordon Hayward         West     False
155        100        1     DeAndre Jordan         West     False
156        189        1      Kawhi Leonard         West     False
157        191        1      Klay Thompson         West     False
158        109        1  Russell Westbrook         West     False

[159 rows x 5 columns]

In [26]:
all_star.to_csv('all_star.csv', index=False)